<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="box">
          <h2>Registrar Asistencia</h2>
          <%= simple_form_for @asistencia do |c| %>
          <%= c.input :fecha %>
          <%= c.association :users, as: :check_boxes, label_method: :email%>
          <%= c.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>