
<div class="contenedor">
    <h1 style="text-align: center;">Bienvenido a NEOPA</h1>

    <div style="display: flex; justify-content: center;">
        <img src="https://raw.githubusercontent.com/hguzman/Colegio-Manuel-Elkin-Patarroyo/master/app/assets/images/logo_neopa.jpeg" alt="Logo NEOPA" width="200" height="200" style="border-radius: 50%; margin: auto;"> 
        <img src="https://github.com/matking2001/certgit/blob/master/escudo_colegio.png?raw=true" alt="Logo Colegio Alfred Nobel" width="200" height="200" style="margin: auto;">
        <br>
    </div>
    
    <h2><strong>Hola! <%= @user.nombres %> <b></b> <%= @user.apellidos %> </strong></h2> 
    <p>El aplicativo NEOPA y colegio Alfred Nobel te dan la bienvenida a nuestra plataforma que mejorará tú experiencia educativa, gracias por hacer parte de esta comunidad. </p>
    Se le ha asignado el siguiente usuario y contraseña:
    <br>
    <strong>Email: <b></b> <%= @user.email %></strong> <br></br> 
    <strong>Contraseña: <b></b> <%= @user.identifiacion %></strong> 
</div>