
<div style="display: flex; justify-content: center;">
    <img src="https://raw.githubusercontent.com/hguzman/Colegio-Manuel-Elkin-Patarroyo/master/app/assets/images/logo_neopa.jpeg" alt="Logo NEOPA" width="200" height="200" style="border-radius: 50%; margin: auto;"> 
    <img src="https://github.com/matking2001/certgit/blob/master/escudo_colegio.png?raw=true" alt="Logo Colegio Alfred Nobel" width="200" height="200" style="margin: auto;">
    <br>
</div>

<strong>Hola! <%= @user.nombres %> <b></b> <%= user.apellidos %> </strong>
Nuevo evento