<h2 style="text-align: center;">Nuevo evento</h2>

<div style="display: flex; justify-content: center;">
    <img src="https://raw.githubusercontent.com/hguzman/Colegio-Manuel-Elkin-Patarroyo/master/app/assets/images/logo_neopa.jpeg" alt="Logo NEOPA" width="200" height="200" style="border-radius: 50%; margin: auto;"> 
    <img src="https://github.com/matking2001/certgit/blob/master/escudo_colegio.png?raw=true" alt="Logo Colegio Alfred Nobel" width="200" height="200" style="margin: auto;">
    <br>
</div>

<strong>Hola! <%= @user.primer_nombre %> <b></b> <%= @user.primer_apellido %> </strong>
<br>
<p>
Nuestra institución realizará un nuevo evento llamado <strong><%= @noticia.titulo %></strong>  para el dia <strong><%= @noticia.fecha %></strong>.
</p>
<p>
  Esperamos que asistas, y gracias por pertenecer a la familia <strong>NEOPA</strong>
</p>