<h1>Datos Materia</h1>

<p>
  <strong>Codigo:</strong>
  <%= @materia.codigo %>

</p>

<p>
  <strong>Nombre:</strong>
  <%= @materia.nombre %>

</p>

<%= link_to  "Materias", usuario_materias_path %>
