
  <div class="logo">
        <h3>Nuestro Escudo y Bandera</h3> <br>
      <%= image_tag("escudo.png", :alt => "Escudo", :style => "width: 400px; height: 400px; margin-left: 4pc;")%>
      <%= image_tag("bandera.png", :alt => "Bandera", :style => "width: 400px; height: 400px; margin-left: 15pc;")%>
  </div>
  <div class="lema">
    <h3>Nuestro Himno</h3>
    <p id="Himno">HIMNO DEL COLEGIO ALFRED NOBEL <br>
    CON GRAN ENTUSIASMO MARCHEMOS TODOS <br>
    POR LA RECTA QUE INDICA EL SABER <br>
    QUE EL COLEGIO ALFRED NOBEL <br>
    NOS OFRECE A TODOS <br>
    PARA QUE LOGREMOS UN MEJOR CRECER (2) <br>
    <br>
    (CORO) <br>
    TU ERES EL CRISOL DE MI FORMACIÓN <br>
    DE TI APRENDI RESPETO Y AMOR <br>
    VALORES Y FE, CIENCIA, EDUCACIÓN <br>
    BASE PRINCIPAL <br>
    PARA TRIUNFAR. <br>
    <br>
    NUESTROS GUIAS NOS BRINDAN PACIENCIA Y LEALTAD <br>
    MUCHA COMPRENSIÓN NOS DAN LIBERTAD <br>
    POR ESO LAS GRACIAS DAMOS AL CREADOR <br>
    Y ROGAMOS SIEMPRE GUARDE ESTE COLEGIO <br>
    EN TODA OCASIÓN (2) <br>
    <br>
    (CORO) <br>
    TU ERES EL CRISOL DE MI FORMACIÓN <br>
    DE TI APRENDI RESPETO Y AMOR <br>
    VALORES Y FE, CIENCIA, EDUCACIÓN <br>
    BASE PRINCIPAL <br>
    PARA TRIUNFAR. <br>
    <br>
    MOSTRAREMOS CADA DIA LA CREATIVIDAD <br>
    PARA NUESTRO LEMA SIEMPRE RESALTAR <br>
    BUENA EDUCACIÓN ES BASE FUNDAMENTAL <br>
    DE BUENA CULTURA PARA ASI MOSTRARLA A LA SOCIEDAD (2).</p> <br>
  </div>
