<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="gallery">
    <h3>Nuestra Infraestructura</h3>
    <a href="images/logo_neopa.jpeg" data-lightbox="roadtrip">Image #1</a>
    <a href="images/logo_neopa.jpeg" data-lightbox="roadtrip">Image #2</a>
    <a href="images/logo_neopa.jpeg" data-lightbox="roadtrip">Image #3</a>
    <script>
      lightbox.option({
        'resizeDuration': 200,
        'wrapAround': true
      })
    </script>
  </div>
  <div class="logo">
    <h3>Nuestro Escudo</h3>

  </div>
  <div class="lema">
    <h3>Nuestro Lema e Himno</h3>

  </div>
  </body>
</html>
