<h2 class="text-center">Todos los usuarios</h2>

<%= link_to new_user_path(@user), class: "btn btn-info btn-sm mt-2 mb-3" do %>
    Nuevo usuario
    <%= fa_icon "plus" %>
<% end %>
 
<!--- Graficas -->
<div class="row">
    <div class="col-md-9 mx-auto">
        <div class="table-responsive">
            <%= column_chart  @grafica_user %>
        </div>
    </div>
</div>
<!--- Fin --->
 
<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="box">
                    <div class="table-responsive">
                        <table id="users" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Identificacion</th>
                                    <th>Nombres</th>
                                    <th>Apellidos</th>
                                    <th>Direccion</th>
                                    <th>Telefono</th>
                                    <th>Email</th>
                                    <th class="text-success">Mostrar</th>
                                    <th class="text-warning">Editar</th> 
                                    <th class="text-danger">Eliminar</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%= render @users %>
                            </tbody>
                    
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

