
 
<table class="table table-respnsive">
    <tr>
      <thead class="thead-dark">
        <th>Email</th>
        <th>Nombre</th>
      
      </thead>
    </tr>
  <% @users.each do |user|  %>
    
      <tr>
        <td> <%= user.email %> </td>
        <td> <%= user.nombre %> </td>
      </tr>
     
  <% end %>
</table>

