<div class="row">
  <div class="col-md-6">
    <div class="card">
      <div class="card-body">
        <div class="box">
          <h2>Registrar curso</h2>
          <%= simple_form_for @curso do |c| %>
          <%= c.input :codigo %>
          <%= c.input :nombre %>
          <%= c.button :submit, class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
