<%= link_to new_curso_path(@curso), class: "btn btn-info btn-sm mb-3 mt-5" do %>
  Nuevo curso
  <%= fa_icon "plus" %>
<% end %>

<div class="row">
    <div class="col-md-12">
        <div class="card shadow-lg">
            <div class="card-body">
                <div class="box">
                    <div class="table-responsive">
                        <table id="cursos" class="table table-bordered table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Codigo</th>
                                    <th>Nombre</th>
                                    <th class="text-warning">Editar</th>
                                    <th class="text-danger">Eliminar</th>
                                    <th class="text-success">Estudiantes</th>   
                                </tr>    
                            </thead>
                            <tbody>                   
                                <%= render @cursos %>                
                            </tbody>                   
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


