<h1>Datos del curso</h1>

<div class="row">
  <div class="col-md-4">
    <div class="card shadow-lg">
      <div class="card-body">
        <div class="box">
          <p>
            <strong>Codigo:</strong>
            <%= @curso.codigo %>

          </p>

          <p>
            <strong>Nombre:</strong>
            <%= @curso.nombre %>

          </p>

          <%= link_to  "Cursos", cursos_path, class: "btn  btn-primary ml-1"%>
           <%= link_to  "Estudiantes", curso_users_path(@curso), class: "btn  btn-primary ml-1"  %>
        </div>
      </div>
    </div>
  </div>
</div>
