<div class="row">
  <div class="ibox-content d-flex justify-content-between w-100">
    <div class="col-md-12 mt-5 d-flex flex-wrap">
      <h1>Datos de la anotación</h1>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <strong>ID Anotación:</strong>
              <%= @anotacion.id %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Fecha:</strong>
              <%= @anotacion.fecha %>
            </td>
          </tr>
          <tr>
            <td>
              <strong>Descripción:</strong>
              <%= sanitize @anotacion.contenido %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>