
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF</title>
</head>
<body>
    <div class="row">
        <div class="col-md-12 mx-auto">
          <div class="card shadow-lg">
            <div class="card-body">
              <div class="table-responsive">


                <table class="table">
                    <tr>
                      <thead class="thead-dark">
                        <th>Logro</th>
                        <th>Nota</th>


                      </thead>
                    </tr>
                  <% @notas.each do |nota|  %>
                    <tr>
                      <td> <%= nota.logro %> </td>
                      <td> <%= nota.nota %> </td>


                    </tr>
                  <% end %>
                </table>
            </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>
