<%= link_to   new_role_path(@rol), class:"btn btn-info mt-3 mb-3" do %>
    Nuevo rol
    <%= fa_icon "plus" %>
<% end %>
<div class="row">
    <div class="col-md-10">
        <div class="card shadow-lg mt-4">
            <div class="card-body">
                <div class="table-responsive">
                    <table id="roles" class="table table-bordered table-striped table-hover">
                        <thead> 
                            <tr> 
                                <th>Nombre</th>
                                <th class="text-success">Mostrar</th>
                                <th class="text-warning">Editar</th>
                                <th class="text-danger">Eliminar</th>
                            </tr>  
                        </thead>
                        <%= render @roles %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>