<p>Hola <%= @email %>!</p>
<div style="display: flex; justify-content: center;">
    <img src="https://raw.githubusercontent.com/hguzman/Colegio-Manuel-Elkin-Patarroyo/master/app/assets/images/logo_neopa.jpeg" alt="Logo NEOPA" width="200" height="200" style="border-radius: 50%; margin: auto;"> 
</div>
<% if @resource.try(:unconfirmed_email?) %>
  <p>Nos estamos comunicando con usted para notificarle que su correo electrónico se cambiará a<%= @resource.unconfirmed_email %>.</p>
<% else %>
  <p>Nos estamos comunicando con usted para notificarle que su correo electrónico ha sido cambiado a<%= @resource.email %>.</p>
<% end %>
