<p>Hola! <%= @resource.email %>!</p>

<div style="display: flex; justify-content: center;">
    <img src="https://raw.githubusercontent.com/hguzman/Colegio-Manuel-Elkin-Patarroyo/master/app/assets/images/logo_neopa.jpeg" alt="Logo NEOPA" width="200" height="200" style="border-radius: 50%; margin: auto;"> 
</div>

<p>
Nos comunicamos con usted para notificarle que su contraseña ha sido cambiada.
</p>
