<h1 style="text-align: center;">Cuenta bloqueada</h1>

<div style="display: flex; justify-content: center;">
    <img src="https://raw.githubusercontent.com/hguzman/Colegio-Manuel-Elkin-Patarroyo/master/app/assets/images/logo_neopa.jpeg" alt="Logo NEOPA" width="200" height="200" style="border-radius: 50%; margin: auto;"> 
</div>

<p>Hola! <%= @resource.email %>!</p>

<p>
Su cuenta ha sido bloqueada debido a un número excesivo de intentos fallidos de inicio de sesión.
</p>

<p>Haga clic en el enlace de abajo para desbloquear su cuenta:</p>

<p><%= link_to 'Desbloquear mi cuenta', unlock_url(@resource, unlock_token: @token) %></p>
